<html>
<head>
    <title>首页</title>

</head>
<body>


<form class="mui-input-group" id="app">
    <div class="mui-input-row">
        <label>用户名</label>
        <input type="text" class="mui-input-clear"  v-model="num" placeholder="请输入用户名">
    </div>
    <div class="mui-input-row">
        <label>密码</label>
        <input type="password" class="mui-input-password" v-model="password" placeholder="请输入密码">
    </div>
    <div class="mui-button-row">
        <button type="button" class="mui-btn mui-btn-primary" v-on:tap="demo" >确认</button>
        <button type="button" class="mui-btn mui-btn-danger"  v-on:tap="demo2">取消</button>
    </div>
</form>


</body>
</html>